accelerate==0.24.1
huggingface_hub==0.17.3
datasets==2.13.1
sentencepiece!=0.1.92
transformers==4.34.1
neptune
pdbpp
notebook
protobuf==3.20.*
pyyaml
pynvml
hydra-core
evaluate
nltk
absl-py
rouge_score
deepchem
selfies
tabulate
schedule
scikit-learn
wandb
fsspec==2023.6.0
rdkit-pypi==2022.09.3
rouge
bert_score
python-levenshtein==0.12.2
scipy==1.10.1
numpy==1.24.4
mmh3==4.1.0
sdaxen_python_utilities==0.1.5
smart_open==7.3.0.post1